

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.flat-table {
		margin-bottom: 20px;
		border-collapse:collapse;
		font-family: 'Lato', Calibri, Arial, sans-serif;
		border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
	}

.flat-table th, .flat-table td {
		box-shadow: 3px 3px 3px #C3C3C3;
			
	}
	.flat-table th {
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		padding: 1em;
		color: grey;
		text-shadow: 0 0 1px rgba(0,0,0,0.1);
		font-size: 1.5em;
	}
	.flat-table td {
		color: grey;
		padding: 0.7em 1em 0.7em 1.15em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 1.4em;
	}
	.flat-table tr {
		-webkit-transition: background 0.3s, box-shadow 0.3s;
		-moz-transition: background 0.3s, box-shadow 0.3s;
		transition: background 0.3s, box-shadow 0.3s;
	}
	.flat-table-1 {
		background: #f5f5f5;
	}


.rodape {
  color: #fff;
  background-color: #1f0044;
  padding-bottom: 50px;
}

.creditos {
  background-color:#14012a;
  color: #fff;
  padding: 20px 0px 20px 100px;
}

.infos{
  font-size: 18px;
  line-height: 200%;
  margin-top: 50px;
  padding-left: 100px;
}

@media (max-width: 980px) {
    .infos {
        padding-left: 0px;
    }
}

.blog {
	padding: 100px 0px 100px 0px;
}

.jumbotron p {
	display: none;
}

.banners {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../img/banner-home.jpg');
  background-size:cover;
}

.banners img {
  width: 100%;
}

.banner-sobre {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../img/banner-sobre.jpg');
  background-size:cover;
}

.banner-sobre img {
  width: 100%;
}

.banner-servicos {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../img/banner-servicos.jpg');
  background-size:cover;
}

.banner-servicos img {
  width: 100%;
}

.banner-servicos-internos {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../img/servicos.jpg');
  background-size:cover;
}

.banner-servicos-internos img {
  width: 100%;
}

.banner-contato {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../img/contato.jpg');
  background-size:cover;
}

.banner-contato img {
  width: 100%;
}


.banner-clientes {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../img/banner-clientes.jpg');
  background-size:cover;
}

.banner-clientes img {
  width: 100%;
}

.banner-blog {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../img/banner-blog.jpg');
  background-size:cover;
}

.banner-blog img {
  width: 100%;
}

.call {
	padding:50px 0 50px 0;
	width:100%;
  	height:100%;
  	background-image: url('../img/call-to-action.jpg');
  	background-size:cover;
}
.whats {

	background-color: #1f0044;
	padding: 20px 0px 20px 0px;
}


.titulos {
	color: #000;
}

.icones {
	padding: 10px;
	width: 20%
}

.whatsapp {
	float: right; 
	margin: 0px 20px 0px 0px;
	width: 100px;
}

.whatsapp-contato {
	float: right; 
	margin: 100px 20px 0px 0px;
	width: 100px;
}

.texto-banner {
	font-weight: 200;
	font-size: 42px;
	color: #fff;
	text-align: center;
}

.botao {
	font-weight: 300;
	font-size: 18px;
	padding: 15px;
	color: #fff;
	border-radius: 5px;
	border: 2px solid #fff;
	background-color: transparent;
}

@media (min-width: 992px) {
.col-md-4 {
	padding: 0px 30px 0px 30px;
    width: 33.33333333%; }
}

li:hover {

	background-color: #170031;
}

blockquote {
	text-align: center;
	padding: 50px 20px;
}

cite {
	float: right;
}

.estrutura {
	padding: 50px;
}

.equipe {
	text-align: center;
	padding: 15px;
}

servicos {
	padding: 50px 200px 50px 0px;
}

servicos-dois {
	padding: 50px 0px 50px 200px;
}


.back-servicos {
  padding: 20px;
	background-color: #f4f4f4;
}

.back-servicos-dois {
  padding: 20px;
}

.tabelas {
  font-weight: 200;
	color:#200044;
	font-size: 28px; 
}

 #map {
 	margin-top: 100px;
    height: 400px;
    width: 100%;
       }

.logos {
	width: 200px;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
 
.wrapper div {
  padding: 40px;
}

.texto-whats {
	color:#fff; 
	font-size: 30px; 
	font-weight: 100; 
	margin: 10px 150px 0px 0px
}

.texto-whats-dois {
	color:#000; 
	font-size: 30px; 
	font-weight: 200; 
	margin: 100px 150px 0px 0px
}

@media (max-width: 480px) {
    .texto-whats-dois {
      	margin: 80px 20px 20px 20px;
    }
}

@media (max-width: 480px) {
    .texto-whats {
      	margin: 20px;
    }
}

@media (max-width: 480px) {
.servicos {
	padding: 20px;
}
}

@media (max-width: 480px) {
.servicos-dois {
	padding: 20px;
}
}

/*teste*/

@media (max-width: 480px) {
.blog {
  padding: 20px;
}
}

@media (max-width: 480px) {
.tabelas {
  padding: 20px;
}
}

.slider-depoimentos {
 }

 .estrutura {
 }

 @media (max-width: 750px) {
.blog {
  padding: 20px;
}
}

@media (max-width: 970px) {
    .texto-whats {
      text-align: center;
      margin: 0;
      padding: 20px;
    }
}

@media (max-width: 750px) {
.servicos {
  padding: 20px;
}
}

@media (max-width: 750px) {
.servicos-dois {
  padding: 20px;
}
}

@media (max-width: 750px) {
    .texto-whats-dois {
      text-align: center;
      margin: 50px 0px 0px 0px;
      padding: 20px;
    }
}

@media (max-width: 750px) {
.tabelas {
  padding: 20px;
}
}

.sub-menu {
  color: #fff;
  list-style: none;
}

.murais {
  background: #f5f5f5; 
  padding:20px; 
  margin: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.titulos-h2 {
	color: #1f0044; 
	border-bottom: 5px solid #1f0044; 
	padding-bottom: 20px; 
	font-weight: 200;
}

.titulos-servicos {
	font-weight: 200;
}

.ver-posts {
  padding-bottom: 30px; 
  font-size: 18px; 
  float: right; 
  margin-right: 100px;
}

.titulos-internos {
  font-weight: 200;
}

.img-servicos {
  float:right;
}

.row-servicos {
  margin: 50px;
}

.titulos-rodape {
  font-weight: 800; 
  font-size: 24px;
}

.back-mural {
  background-image: url('../img/banner-mural.jpg'); 
  padding: 80px 0px 120px 0px; 
  background-repeat: no-repeat;
}

.back-sobre {     
  background-image: url('../img/banner-quem.jpg'); 
  padding: 80px 0px 110px 0px;
}

.back-estrutura {
  background-image: url('../img/banner-mural.jpg'); 
  padding: 80px 0px 0px 0px; 
  background-repeat: no-repeat;
}

.row-servicos {
  margin: 20px;
}

.checks {
  font-weight: 200; 
  padding: 20px;
}

.check-size {
  width:25px;
}
