﻿/*!
Theme Name: Odin
Author URI: http://wpod.in/
Description: Odin main stylesheet.
Author: the Odin team
Author URI: http://wpod.in/#colaboradores



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h2{
	color: #1f0044; 
}
.flat-table {
		margin-bottom: 20px;
		border-collapse:collapse;
		font-family: 'Lato', Calibri, Arial, sans-serif;
		border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
	}

.flat-table th, .flat-table td {
		box-shadow: 3px 3px 3px #C3C3C3;
			
}
.flat-table th {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	padding: 1em;
	color: grey;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-size: 1.5em;
}
.flat-table td {
	color: grey;
	padding: 0.7em 1em 0.7em 1.15em;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 1.4em;
}
.flat-table tr {
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}
.flat-table-1 {
	background: #f5f5f5;
}




.creditos {
  background-color:#14012a;
  color: #fff;
  padding: 20px 0px;
  overflow: hidden;
}
.creditos p{
	margin: 0;
	}

.infos{
  font-size: 18px;
  line-height: 200%;
  margin-top: 50px;
}
.texto-whats {
	color:#fff; 
	font-size: 24px; 
	font-weight: 100; 
	width: 80%;
	padding: 0 20px;
}


@media (max-width: 980px) {
    .infos {
        padding-left: 0px;
    }
}

.jumbotron p {
	display: none;
}

.banners {
  width:100%;
  height: 500px;
  display: table;
  background: no-repeat center center;
  background-size:cover;
  margin-top: 50px;
}
.banners div{

	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.banners img {
  width: 100%;
}

.banner-sobre {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../images/banner-sobre.jpg');
  background-size:cover;
}

.banner-sobre img {
  width: 100%;
}

.banner-servicos {
  background-image: url('../images/banner-servicos.jpg');
  background-size:cover;
}


.banner-servicos-internos {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../images/servicos.jpg');
  background-size:cover;
}

.banner-servicos-internos img {
  width: 100%;
}

.midias-sociais-contato{
	
}
.midias-sociais-contato .icones{
	max-height: 60px;
	max-width: 60px;
	}
.midias-sociais-contato a, .midias-sociais-contato p{
	font-weight: 200;
	color: #200044;
	font-size: 24px;
}
.whats-contato{
	margin: 50px 0;
	
}
.whats-contato .texto-whats{
	color: #000000;
	}



.banner-clientes {
  padding:250px 0 200px 0;
  width:100%;
  height:100%;
  background-image: url('../images/banner-clientes.jpg');
  background-size:cover;
}

.banner-clientes img {
  width: 100%;
}

.banner-blog {
  width:100%;
  background-image: url('../images/banner-blog.jpg');
}


.call {
	padding:50px 0 50px 0;
	width:100%;
  	height:100%;
  	background-image: url('../images/call-to-action.jpg');
  	background-size:cover;
}
.whats {

	background-color: #1f0044;
	padding: 20px 15px;
}


.titulos {
	color: #000;
}

.icones {
	padding: 10px;
	width: 20%
}

.whatsapp {
	float: right; 
	max-width: 100px;
}

.whatsapp-contato {
	float: right; 
	margin: 100px 20px 0px 0px;
	width: 100px;
}

.texto-banner {
	font-weight: 200;
	font-size: 42px;
	color: #fff;
	text-align: center;
}

.botao {
	font-weight: 300;
	font-size: 18px;
	padding: 15px;
	color: #fff;
	border-radius: 5px;
	border: 2px solid #fff;
	background-color: transparent;
}

#navbar li:hover {

	background-color: #170031;
}

blockquote {
	text-align: center;
	padding: 50px 20px;
}

cite {
	float: right;
}

.estrutura {
	padding: 50px 0 0 0;
	clear: both;
}
.item-galeria{
	margin-bottom: 30px;
}
.equipe {
	text-align: center;
	padding: 15px;
}

.equipe img{
	max-width: 100%;
	height: auto;
}


.back-servicos {
  padding: 20px;
	background-color: #f4f4f4;
}

.back-servicos-dois {
  padding: 20px;
}
.servicos img{
	float: right;
}
.servicos-dois img {
	float: left;
}

.tabelas {
  font-weight: 200;
	color:#200044;
	font-size: 28px; 
}
.endereco-mapa{
	background: #F5f5f5;
	text-align: center;
	padding: 25px 0;
}
 #map {
    height: 400px;
    width: 100%;
       }

.logos {
	width: 200px;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
 
.wrapper div {
  padding: 40px;
}


@media (max-width: 480px) {

	.tabelas {
	  padding: 20px;
	}
}


 @media (max-width: 750px) {

	.texto-whats {
		font-size: 18px; 
	}
}
@media (max-width: 750px) {
	.tabelas {
	  padding: 20px;
	}
}

.sub-menu {
  color: #fff;
  list-style: none;
}

.murais {
  background: #f5f5f5; 
  padding: 15px 15px 5px 15px; 
  margin: 10px;
  box-shadow: 2px 2px 2px #999999;
}

.titulos-h2 {
	color: #1f0044; 
	border-bottom: 5px solid #1f0044; 
	padding-bottom: 20px; 
	font-weight: 200;
}
.murais h3{
	margin-top: 0;
	margin-bottom: 5px;
}
.titulos-servicos {
	font-weight: 200;
}

.ver-posts {
  padding-bottom: 30px; 
  font-size: 18px; 
  float: right; 
  margin-right: 100px;
}

.titulos-internos {
  font-weight: 200;
}

.img-servicos {
  float:right;
}

.row-servicos {
  margin: 50px;
}

.titulos-rodape {
  font-weight: 800; 
  font-size: 24px;
}

.back-mural {
  background-image: url('../images/banner-mural.jpg'); 
  padding: 80px 0px 120px 0px; 
  background-size: cover;
}

.back-sobre {     
  background-image: url('../images/banner-quem.jpg'); 
  padding: 80px 0px 110px 0px;
  background-size: cover;
}
.back-sobre p, .back-estrutura p{
	font-size: 18px; 
	font-weight: 200;
}

.back-estrutura {
  background-image: url('../images/banner-mural.jpg'); 
  padding: 80px 0px 0px 0px; 
  background-size: cover;
}

.row-servicos {
  margin: 20px;
}

.checks {
  font-weight: 200; 
  padding: 20px;
  font-size: 24px;
  padding-left: 50px;
  background: url('../images/check.svg') left center no-repeat;
  background-size: auto 60%;
}


.clear{
	clear: both;
}
.display-table{
	display: table;
	width: 100%;
}
.display-cell{
	display: table-cell;
	vertical-align: middle;
}
div.wpcf7-validation-errors{
    border: none!important;
    background: #CD5C5C;
    padding: 4px 16px!important;
    color: #FFF!important;
}
div.wpcf7-mail-sent-ok{
    border: none!important;
    background: #CD5C5C;
    padding: 6px;
    color: #FFF!important;
    text-align: center;
    text-transform: uppercase;
}
span.wpcf7-not-valid-tip{
    font-size: 1em;
    display: block;
    background: #CD5C5C;
    padding: 4px 15px;
    color: #FFF!important;
}
div.wpcf7-response-output {
    margin: 5em 0.5em 1em;
  }
  .btn-orcamento{
    background: #636467!important;
    margin-top: 30px;
    border-radius: 5px;
    border: 0px;
    float: right;
    padding: 7px 37px;
    font-weight: bold;
    text-transform: uppercase;
}
.section{
	padding: 60px 0;
}
.gallery .gallery-item{
	float: left;
	width: 33.33%;
	text-align: center;
	margin-bottom: 20px;
}
.widget ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.widget ul li{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #dddddd;
	}
#sidebar{
	padding-top: 30px;

}
.separador{
	clear: both;
	padding-top: 30px;
	border-bottom: solid 1px #dddddd;
	margin-bottom: 30px;

}
.rodape {
	color: #fff;
	background-color: #1f0044;
	float: left;
	width: 100%;
	clear: both;
}
.rodape .navbar-nav{
	float: left;
	width: 100%;
	margin: 0 0 30px 0;
}

.rodape .navbar-nav li{
	width: 100%;
	}
.rodape .navbar-nav li a{
	color: #FFFFFF;
}
.rodape .navbar-nav li a:hover{
	color: #337ab7;
	background: none;
}
.videoWrapper {
	position: relative;
	padding-bottom: 52.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 30px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}